<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CacheTag - Your one stop for social media hashtags</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Google Fonts Link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <!-- My style sheet -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{!-- Nav Bar --}}
  <nav>
    {{!-- Side Nav --}}
    <ul id="slide-out" class="sidenav">
      <li><a href="/profile">Profile</a></li>
      <li><a href="/addNiche">Add A Niche</a></li>
      <li><a href="/addHashtag">Add A Hashtag</a></li>
      <li><button class="no-button" id="logout" href="">Logout</button></li>
      {{!-- {{else}} --}}
      <li><a href="/login">Login</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>  
    
    <div class="nav-wrapper custom_nav">
      <a href="/" class="brand-logo"><img src="/assets/cache_tag_logo.png" width="150px"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{!-- {{#if logged_in}} --}}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/addNiche">Add A Niche</a></li>
        <li><a href="/addHashtag">Add A Hashtag</a></li>
        <li><button class="no-button" id="logout" href="">Logout</button></li>
        {{!-- {{else}} --}}
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
    </nav>

    </header>
    <main class="container custom_container">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Render script for logged in users only -->
  {{!-- {{#if logged_in}} --}}
  <script src="/js/logout.js"></script>
  <script src="/js/add-niche.js"></script>
  {{!-- {{/if}} --}}
  <!-- Save Options Dropdown -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.dropdown-trigger');
  var instances = M.Dropdown.init(elems);
});
</script>

{{!-- Side Nav --}}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
    });
  </script> 

</body>

</html>