<h1 class="page_header">Add A Niche</h1>
<form class="col s12 add_niche_form">
  <div class="row">
    <div class="input-field col s12 flex_row">
        <input type="text" id="new_niche" placeholder="Insert new niche!">
      <button
        id="save_niche" type="submit" class="btn save_btn"><i class="material-icons save_icon">save</i></button>
    </div>
  </div>
</form>
  <div class="sub_container">
    <p class="center">Your Saved Niches:</p>
    {{#each niches as |niche|}}
    <div class="flex_row">
      <p>{{niche_name}}</p>
      <button id="delete_niche" data-id="{{id}}" class="btn save_btn"><i
          class="material-icons"
        >delete</i></button>
    </div>
    {{/each}}
  </div>

  <script src="/js/add-niche.js"></script>