<h1 class="page_header">Add A Niche</h1>
<form class="col s12">
  <div class="row">
    <div class="input-field col s12 flex_row">
      <label id="label_text" for="new_niche">Insert new niche!</label>
      <input type="text" name="newNiche" id="new_niche" />
      <button
        id="save_niche"
        class="btn save_btn dropdown-trigger"
        data-target="dropdown1"
      ><i class="material-icons save_icon">save</i></button>
    </div>
  </div>
  <div class="sub_container">
    <p class="center">Your Saved Niches:</p>
    {{#each niches as |niche|}}
    <div class="flex_row">
      <p>{{niche_name}}</p>
      <button id="delete_niche" class="btn save_btn"><i
          class="material-icons"
        >delete</i></button>
    </div>
    {{/each}}
  </div>
</form>

  <script src="/js/add-niche.js"></script>