<!-- Trending Page -->
<h1 class="page_header">What's Hot!</h1>
  <!-- This will display the top 10 trending hashtags -->
  <div class="sub_container">
    {{#each hashtagArr as |hashtag| }}
    <div class="flex_row">
      <p class="hashtag_text">{{text}}</p>
      <button class="btn save_btn dropdown-trigger" id="save_btn" data-target="dropdown1"><i class="material-icons save_icon">save</i></button>
      
    </div>  
    {{/each}}
  </div>

{{!-- <button class="btn save_btn dropdown-trigger" data-target='dropdown1'><i class="material-icons save_icon">save</i></button> --}}
    <!-- When User clicks on the save icon, then it shows a dropdown list of the user's saved niches -->
    {{!-- <ul id='dropdown1' class='dropdown-content'> --}}
        <ul id='dropdown1' class='dropdown-content'>
        {{#each niches as |niche| }}
        <li id={{@index}} ><a class="niche">{{ niche_name }}</a></li>
        {{/each}}
        </ul>

    <!-- Save Options Dropdown -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.dropdown-trigger');
  var instances = M.Dropdown.init(elems);
});

var buttons = document.querySelectorAll(".dropdown-content"); 
var savebtns = document.querySelectorAll(".save_btn");  

var getHashtag = (event) => {
  event.stopPropagation(); 
  if (event.target.id = "save_btn") {
    console.log("This is the hashtag: " + event.target.parentElement.parentElement.children[0].textContent);
  } else {
    console.log("Wrong!"); 
  }
}; 

var chooseNiche = (event) => {
  event.stopPropagation(); 
  console.log("This is the niche name: " + event.target.textContent); 
}; 

buttons.forEach(function(button) {
  button.addEventListener("click", chooseNiche);
}); 

savebtns.forEach(function(button) {
button.addEventListener("click", getHashtag);
}); 
 

</script>
{{!-- <script src="../public/js/saveButton.js"></script> --}}