<form class="col s12 login-form">
  <div class="row">
    <div class="input-field col s12">
      <input id="email_login" type="email" placeholder="Enter Your Email Address" class="validate">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password_login" type="password" placeholder="Enter Your Password" class="validate">
    </div>
  </div>
  <button type="submit" class="btn-large custom_btn login_btn">Login</button>
  <p>Don't have an account?</p>
  <button class="btn custom_btn"><a href="/register">Sign Up Here!</a></button> 
</form>

<script src="../public/js/login.js"></script>
