<h1 class="page_header">{{username}}</h1>
<!-- Each Niche that the user has saved will be displayed here. When User clicks on a niche button it will show them the hashtags that are related to that niche -->
<div class="flex overflow">
  <button class="niche_btn">Niche 1</button>
  <button class="niche_btn">Niche 2</button>
  <button class="niche_btn">Niche 3</button>
  <button class="niche_btn">Niche 4</button>
  <button class="niche_btn">Niche 5</button>
  <button class="niche_btn">Niche 6</button>
</div>

<script src="/js/color.js"></script>