<form class="col s12">
    <div class="row">
        <div class="input-field col s12">
            <input id="name_signup" type="text" placeholder="Enter Your Name" class="validate">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="email_signup" type="email" placeholder="Enter Your Email Address" class="validate">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="password_signup" type="password" placeholder="Enter Your Password" class="validate">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="password_confirm" type="password" placeholder="Retype Your Password" class="validate">
        </div>
    </div>
    <button class="btn-large custom_btn login_btn">Sign Up!</button> 
</form>
    
{{!-- <script src="./js/login.js"></script> --}}