<h1 class="page_header">Niche Name</h1>
<!-- The hashtags below are what the user has saved to that niche -->
<div class="flex overflow">
  <button class="niche_btn">#hashtag1</button>
  <button class="niche_btn">#hashtag2</button>
  <button class="niche_btn">#hashtag3</button>
  <button class="niche_btn">#hashtag4</button>
</div>
