:root {
  --ocean: #05ab81; 
  --lime: #B4A725; 
  --canary: #F6A421;
  --golden: #f9b548;
  --salmon: #FC4F50;
  --pink: #fa7171;
  --round: 25px; 
  --light: #fff;
}
* {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

/* Nav Bar */
.custom_nav {
  color: white; 
  font-weight: bold;
}

#logo{
  font-family: 'Archivo', sans-serif;
  margin-left: 20px;
}

nav {
  /* height: 80px; */
  background-color: var(--golden);
background-image: linear-gradient(315deg, var(--canary) 0%, var(--salmon) 90%);
}

li{
  font-size: larger;
}

/* Body */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/* Page Containers */
.custom_container {
  /* background-color: var(--ocean);  */
  /* border: 5px solid var(--canary);  */
  /* border-radius: var(--round); */
  padding: var(--round); 
  /* color: white;  */
  margin-top: 50px;
  margin-bottom: 50px; 
  box-shadow: 3px 3px 8px grey;
}
.page_header {
  /* background-color: var(--canary); */
  text-align: center;
  /* border: 3px solid white;  */
  font-size: 30px;
  /* border-radius: var(--round); */
  padding: 10px; 
  /* caret-color: transparent; */
}
.sub_container {
  background-color: var(--salmon);
  border-radius: var(--round);
  border: 2px solid white; 
  padding: var(--round); 
}
.sub_container p {
  margin: 25px; 
}
.custom_btn {
  background-color: var(--salmon);
  color:white; 
  border-radius: var(--round);
}
.custom_btn:hover {
  background-color: var(--pink);
}
.flex_row {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.flex {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.custom_footer {
  background-color: var(--salmon);
}
.creaters {
  color: white; 
}
.creaters:hover {
  text-decoration: underline;
}

/* Login Page  */
.login_btn {
  display: block; 
  margin: 0 auto; 
}

/* What's Trending Page */
.save_btn {
  border-radius: var(--round);
  background-color: var(--canary); 
  position: relative; 
}
.save_btn:hover {
  cursor: pointer;
  background-color: var(--golden);
}

/* Profile Page */
.niche_btn {
  border: 2px solid white; 
  border-radius: var(--round);
  height: 50px; 
  width: 150px; 
  margin: 25px; 
  color: white; 
}
.niche_btn:hover {
  cursor: pointer;
}
.overflow {
  overflow-y: scroll;
  max-height: 500px;
}

/* Add Niche */
#label_text {
  color: var(--light);
}

/* Footer */
#footerlogo{
  font-family: 'Archivo', sans-serif;
  /* margin-left: 20px; */
}